In [ ]:
import json
import pandas as pd
from rich.jupyter import print
import requests

# Create requests session

In [ ]:
session = requests.Session()

# Set City

In [ ]:
headers = {
    'authority': '10digi.com',
    'sec-ch-ua': '"Chromium";v="94", "Google Chrome";v="94", ";Not A Brand";v="99"',
    'accept': 'application/json, text/plain, */*',
    'content-type': 'application/json;charset=UTF-8',
    'sec-ch-ua-mobile': '?0',
    'user-agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.71 Safari/537.36',
    'sec-ch-ua-platform': '"Linux"',
    'origin': 'https://10digi.com',
    'sec-fetch-site': 'same-origin',
    'sec-fetch-mode': 'cors',
    'sec-fetch-dest': 'empty',
    'referer': 'https://10digi.com/',
    'accept-language': 'en-US,en;q=0.9,ta;q=0.8',
}

data = '{"cityId":"1747"}' #Chennai 1747, Mumbai 998, Delhi 1, Pune 2707, Bengaluru 1543, Hyderabad 10000, Chandigar 164 

response = session.post('https://10digi.com/api/v2/auth/sc.json', headers=headers, data=data)

In [ ]:
headers = {
    'authority': '10digi.com',
    'sec-ch-ua': '"Google Chrome";v="93", " Not;A Brand";v="99", "Chromium";v="93"',
    'accept': 'application/json, text/plain, */*',
    'content-type': 'application/json;charset=UTF-8',
    'accept-language': 'en-GB,en-US;q=0.9,en;q=0.8',
    'sec-ch-ua-mobile': '?0',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Safari/537.36',
    'sec-ch-ua-platform': '"Windows"',
    'origin': 'https://10digi.com',
    'sec-fetch-site': 'same-origin',
    'sec-fetch-mode': 'cors',
    'sec-fetch-dest': 'empty',
    'referer': 'https://10digi.com/fancy-number/',
}

data = '{"filters":{"brands":[],"patterns":[],"category_type":["top-numbers"],"price":{"max":"100000.00","min":"0.00"},"series":[],"limit":100000,"offset":0}}'
response = session.post('https://10digi.com/api/v2/numbers/list', headers=headers, data=data)

In [ ]:
content = json.loads(response.content)
dfi = pd.DataFrame(content["data"]["list"])
if len(dfi) == 0:
    print("[bold red]No numbers returned for the selected location[/]")
df = dfi[["number", "value", "circle_name", "brand_name"]]

# Total available numbers

In [ ]:
print(f"Available numbers [bold magenta]{df.size}[/]")

# Any triple numbers

In [ ]:
df[df["number"].astype(str).str.match(r".*(\d)\1\1.*")]

# One triple and one double number

In [ ]:
dfo=df[df["number"].astype(str).str.match(r".*(\d)\1\1.*(\d)\2?\2.*|.*(\d)\3?\3.*(\d)\4\4.*")]
print(dfo.to_numpy())

# Two numbers repeating at least once

In [ ]:
dfo=df[df["number"].astype(str).str.match(r".*(\d{2}).*\1")]
print(dfo.to_numpy())

# Two numbers repeating more than once

In [ ]:
dfo=df[df["number"].astype(str).str.match(r".*(\d{2}).*\1.*\1.*")]
print(dfo.to_numpy())

# Two numbers repeating more than once consecutively

In [ ]:
df[df["number"].astype(str).str.match(r".*(\d{2})\1\1.*")]

# Starting two numbers repeated anywhere

In [ ]:
dfo=df[df["number"].astype(str).str.match(r"^(\d{2}).*\1")]
print(dfo.to_csv())

# Starting and ending 3 numbers are same

In [ ]:
df[df["number"].astype(str).str.match(r"^(\d{3}).*\1$")]

# Starting 3 numbers repeated at least once

In [ ]:
df[df["number"].astype(str).str.match(r"^(\d{3}).*\1.*")]

# Any 3 numbers repeated once

In [ ]:
df[df["number"].astype(str).str.match(r".*(\d{3}).*\1.*")]

# Any number repeated at least 4 times

In [ ]:
print(df[df["number"].astype(str).str.match(r".*(\d).*\1.*\1.*\1.*")])

# Any number repeated at least 5 times

In [ ]:
print(df[df["number"].astype(str).str.match(r".*(\d).*\1.*\1.*\1.*\1.*")])

# Any quadruple numbers

In [ ]:
df[df["number"].astype(str).str.match(r".*(\d)\1\1\1.*")]

# Any double numbers repeating

In [ ]:
df[df["number"].astype(str).str.match(r".*(\d)(\1).*\1\2.*")]

# More than one set of double digit numbers

In [ ]:
dfo=df[df["number"].astype(str).str.match(r".*(\d)\1.*(\d)\2.*")]
print(dfo.to_numpy())

More than two set of double numbers

In [ ]:
df[df["number"].astype(str).str.match(r".*(\d)\1.*(\d)\2.*(\d)\3.*")]

# Middle two numbers are double digit

In [ ]:
dfo=df[df["number"].astype(str).str.match(r"^\d{4}(\d)\1\d{4}")]
print(dfo.sort_values('number').to_numpy())

# Match 4 numbers in sequence

In [ ]:
df[df["number"].astype(str).str.match(r"(0123|1234|2345|3456|4567|5678|6789)")]

# Match 3 numbers in sequence

In [ ]:
df[df["number"].astype(str).str.match(r"(012|123|234|345|456|567|678|789)")]

# Double ending numbers

In [ ]:
dfo=df[df["number"].astype(str).str.match(r"\d{8}(\d)\1")]
dfc = dfo.columns.copy()
dfo[["l1", "l2"]] = dfo["number"].astype(str).str.extract(r"\d{8}(\d)(\1)", expand=True)
print(dfo.sort_values(["l1", "l2"])[dfc].to_numpy())